.myExchange-container{
	margin-left: auto;
	margin-right: auto;
	width: 800px
}

.main-title{
	font-size: 1.9375em;
	margin-top: 38px;
	height: 39px
}

.main-description{
	margin-top: 38px;
}

.main-content {
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
}

.form-row{
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto
}

.footer {
	position: fixed;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 70px
}